<!DOCTYPE html>
{% extends 'index/base.html' %}
<html lang="ja">

{% block content%}
<h1 class="logo"><a href="{% url 'index' %}"><img src="/static/index/images/logo.png" alt="AFK"></a></h1>
<nav class="menubar">
    <ul>
        <li><a href="{% url 'pve_comp:pve_comp' %}">pve comp</a></li>
        <li><a href="#">transelate</a></li>
        <li><a href="#">mythic manage</a></li>
    </ul>
</nav>

<div class="iframe-wrraper">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/?list=UUih6MT0eHkyT23VZVcdgBxA"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
{% endblock %}

</html>