<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="description" content="translate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/translate/css/translate.css">
    <title>translate</title>
</head>

<body>

    <h1>translate</h1>

    <div class=textarea_container>
            <textarea name="before_translation" placeholder='test'></textarea>
            <textarea name="after_translation" placeholder='test'></textarea>
    </div>

    <div class=>
        
        </div>

</body>

</html>